---
import Carts from '../components/Carts.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
import StarFull from '../icons/StarFull.astro';
---

<Layout title="Platzi Food">
	<Header />
	<main>
		<div
			id="imgBack"
			class="flex h-[30rem] w-screen items-center justify-center bg-cover bg-center bg-no-repeat text-3xl text-white opacity-55"
		>
			-------------------
		</div>
		<div class="flex w-screen items-center justify-center">
			<img
				src="https://raw.githubusercontent.com/victoryoalli/platzifood/76946dc197de9980017a831db70f42577fce5991/public/images/logo-w.svg"
				alt="Platzi Food Logo"
				class="absolute top-48 h-12 text-center xs:ml-2 sm:ml-0 sm:h-20"
			/>
			<h1
				class="absolute top-64 flex w-[80vw] flex-col items-center text-pretty text-center text-2xl text-primary sm:w-[25rem] sm:mt-6"
			>
				It is the best restaurant in New York and Colombia TOP #1 with One Michelin star <StarFull
					size="20"
				/>
			</h1>
		</div>
		<div
			id="carts"
			class="mb-16 mt-10 flex w-screen flex-col flex-wrap items-center text-gray-100 sm:mb-[4.5rem] sm:flex-row sm:justify-center"
		>
			<Carts />
		</div>
		<Footer />
	</main>
</Layout>
<style>
	#imgBack {
		background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	}
</style>
