---
import Carts from '../components/Carts.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Platzi Food">
	<Header />
	<main>
		<div
			id="carts"
			class="mt-10 flex w-screen flex-col flex-wrap items-center text-gray-100 sm:flex-row sm:justify-center"
		>
			<Carts />
		</div>
		<Footer />
	</main>
</Layout>
