---
interface Props {
	name: string;
	content: string;
	price: string;
	img: string;
}
const { name, content, price, img } = Astro.props;
---

<article class="mt-8 flex w-[75vw] flex-col items-center">
	<img src={img} alt="Image hamburger" class="rounded-lg w-[20rem]" />
	<div
		id="cart"
		class="relative bottom-3 w-[95%] rounded-lg bg-gray-100 px-4 py-2 text-gray-900 shadow-2xl sm:w-[30rem]"
	>
		<div id="description">
			<p class="text-xl font-bold">{name}</p>
			<p class="leading-snug text-gray-700">{content}</p>
			<p class="font-medium">{price}</p>
		</div>
		<div id="star" class="flex items-center text-center">
			<slot />
		</div>
	</div>
</article>
