---
import Menu from '../icons/Menu.astro';
---

<header class="fixed top-0 z-10 flex h-12 w-screen items-center justify-between bg-secondary">
	<a href="/">
		<img
			src="https://raw.githubusercontent.com/victoryoalli/platzifood/76946dc197de9980017a831db70f42577fce5991/public/images/logo-w.svg"
			alt="Platzi Food img"
			class="ml-5 h-8 sm:ml-8"
		/>
	</a>
	<button class="mr-3 scale-75 sm:mr-4"><Menu /></button>
</header>
<div
	id="header"
	class="fixed top-12 z-10 hidden h-[7.5rem] w-screen justify-between bg-primary opacity-0"
>
	<div class="mb-4 ml-4 mt-2 flex items-center">
		<h1 class="w-[60%] justify-center text-pretty text-lg sm:text-xl">
			The dish of the day is a delicious bandeja paisa with apple juice
		</h1>
		<img
			src="https://images.unsplash.com/photo-1723693407562-bb4fcae76797?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
			alt="Bandeja Paisa"
			class="mt-[0.45rem] hidden h-[6rem] max-h-[6rem] w-[6rem] min-w-[6rem] overflow-hidden rounded-lg object-cover sm:flex"
		/>
		<img
			src="https://images.unsplash.com/photo-1534336810865-0beae4c81278?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
			alt="Apple Juice"
			class="ml-[0.5rem] mt-[0.45rem] hidden h-[6rem] max-h-[6rem] w-[6rem] min-w-[6rem] overflow-hidden rounded-lg object-cover md:flex"
		/>
	</div>
	<ul class="mr-4 mt-2 hidden flex-col items-end text-right text-gray-800" id="ulItem">
		<a href="/" class="w-[6.2rem]"
			><li class="rounded-xl px-2 hover:bg-yellow-600">Best Foods</li></a
		>
		<a href="/" class="w-[6.8rem]"
			><li class="rounded-xl px-2 hover:bg-yellow-600">Food Events</li></a
		>
		<a href="/" class="w-[5.2rem]"><li class="rounded-xl px-2 hover:bg-yellow-600">About us</li></a>
		<a href="/" class="w-[3.5rem]"><li class="rounded-xl px-2 hover:bg-yellow-600">Menu</li></a>
	</ul>
</div>
<style>
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
</style>
<script src="../script/header.js"></script>
